{% include "head.html" %}

<div class="container" style="margin-top: .5em;">
    {% include "navbar.html" %}

    <div class="row" style="margin-top: .5em;">
        <div class="col-12">
            <button type="button" class="btn btn-info">Create CA</button>
        </div>
    </div>
</div>