{% load i18n widget_tweaks %}
{% include "head.html" %}

<div class="container" style="margin-top: .5em;">
    {% include "navbar.html" %}

    <h2>Create new server</h2>

    <form method="POST">{% csrf_token %}
            <div class="card" style="margin-top: 1.5em">
                    <div class="card-block" style="padding: 1em">
                        <h3 class="card-title">Server data</h3>
                        <div class="form-group">
                            <label for="{{ form.name.name }}">Server name</label>
                            {{ form.name | attr:"class:form-control" }}
                            <br>
                            <label for="{{ form.port.name }}">Client Name</label>
                            {{ form.client_name | attr:"class:form-control" }}
                            <br>
                            <label for="{{ form.key_size.name }}">Key Size</label>
                            {{ form.key_size | attr:"class:form-control" }}
                            <br>
                            <label for="{{ form.dh_size.name }}">DH Size</label>
                            {{ form.dh_size | attr:"class:form-control" }}
                            <br>
                        </div>
                    </div>
                </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
</div>